<footer class="my-lg-3 my-3">
  <div class="container">
     <section class="footer-top pt-3 bg-light border shadow">
        <div class="container px-4">
           <div class="row">
              <div class="col-md-4">
                 <div class="footer-about">
                    <h4 class="fw-normal"><i class="bi-bullseye me-1"></i> {{ footerTitle }}</h4>
                    <hr>
                    <p>15 yıllık deneyim ve uzmanlıkla bireysel ve kurumsal araç kiralamada ilk tercihiniz olmak için 7/24 durmaksızın çalışıyoruz.</p>
                    <a routerLink="/cars" class="btn btn-primary mb-4 mb-md-auto">
                       Arabalara Gözat
                       <i class="bi-arrow-right"></i>
                    </a>
                 </div>
              </div>
              <div class="offset-md-1 col-md-3">
                 <div class="footer-nav">
                    <h4 class="fw-normal">Rent A Car</h4>
                    <hr>
                    <ul>
                       <li><i class="fas fa-chevron-right"></i><a routerLink="/"> Anasayfa</a></li>
                       <li><i class="fas fa-chevron-right"></i><a routerLink="/cars"> Araçlarımız</a></li>
                       <li><i class="fas fa-chevron-right"></i><a routerLink="/colors"> Markalar</a></li>
                       <li><i class="fas fa-chevron-right"></i><a href="#"> İletişim</a></li>
                    </ul>
                 </div>
              </div>
              <div class="col-md-4">
                 <div class="footer-info">
                    <h4 class="fw-normal">Bilgi / İletişim</h4>
                    <hr>
                    <ul>
                      <li>
                        <b><i class="fas fa-map-marker-alt"></i> Adres: </b>
                        <a href="#">İstanbul</a>
                     </li>
                       <li>
                          <b><i class="fas fa-phone"></i> Telefon: </b>
                          <a href="#">0000 000 00 00</a>
                       </li>

                       <li>
                          <b><i class="fas fa-envelope"></i> E-Posta: </b>
                          <a href="mailto:info@rentacar.com">info@rentacar.com</a>
                       </li>
                    </ul>
                 </div>
              </div>
           </div>
        </div>

        <section class="footer-bottom mt-5">
           <div class="container">
              <div class="row">
                 <div class="col-md-12">
                    <div class="footer-copyright">
                       Copyright &copy; 2021 <a routerLink="/">{{ footerTitle }}</a>. Tüm Hakları Saklıdır |
                       Bu Site <a href="https://www.linkedin.com/in/busragelik/">Büşra GELİK</a> Tarafından Tasarlanıp, Kodlanmıştır.
                    </div>
                 </div>
              </div>
           </div>
        </section>
     </section>
  </div>
</footer> 
