<h5 class="p-3 mb-2 bg-secondary text-white">Araç Bilgisi</h5>
  
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div *ngFor="let car of cars let i=index" [ngClass]="getSliderClassName(i)" >
      <img src="{{imageUrl}}/{{car.imagePath}}"  class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>

<br>
<div class="container">
<div class="row row-cols-2" *ngFor="let car of cars">
  <div class="col" ><h5>Araba Adı: {{car.description}}</h5></div>
  <div class="col" ><h5>Renk: {{car.colorName}}</h5></div>
  <br> <br>
  <div class="col" ><h5>Model Yılı: {{car.modelYear}}</h5></div>
  <br> <br>
  <div class="col" ><h5>Günlük Kiralama Fiyatı: {{car.dailyPrice}}</h5></div>
  
</div>
   <section style="float:center">
    <button type="button" class="btn btn-success">Kirala</button>
  </section></div>