<div *ngIf="dataLoaded==false" class="d-flex justify-content-center">
  <div class="spinner-grow text-info" role="status" aria-hidden="true"></div>
</div>
<div class="my-1">
  <input type="text" [(ngModel)]="filterText" class="form-control" id="brandFilter" placeholder="Araç markası giriniz...">
</div>
<li [class] = "getAllBrandClass()" routerLink = "/cars">Tüm Araçlar</li>
<ul *ngIf="dataLoaded==true" class="list-group">
  <li (click)="setCurrentBrand(brand)" *ngFor="let brand of brands | brandFilter:filterText" 
  [class]="getCurrentBrandClass(brand)" routerLink = "/cars/brand/{{brand.id}}">{{brand.brandName}}</li>
</ul>
 
 
 
 
 
 
 
 
 
 
 
 <!-- <ul class="list-group">
  <li id="all" routerLink = "/cars" class="list-group-item">Tüm Arabalar</li><br>
<select class="form-select form-select-lg mb-3" aria-label=".form-select-sm example">
  <option selected>Marka giriniz</option>
  <option (click)="setCurrentBrand(brand)"
  routerLink = "/cars/brand/{{brand.id}}"
   *ngFor="let brand of brands | brandFilter: filterText"  [class]="getCurrentBrandClass(brand)">{{brand.brandName}}</option>

</select>

<h5 *ngIf="currentBrand">{{currentBrand.brandName}} seçtiniz.</h5> 
 -->

 <!-- <ul class="list-group">
  <li id="all" routerLink = "/cars" class="list-group-item">Tüm Arabalar</li>
 <li id="brand" class="list-group-item">Markalar</li>
 <li (click)="setCurrentBrand(brand)"
 routerLink = "/cars/brand/{{brand.id}}"
 *ngFor="let brand of brands" 
 [class]="getCurrentBrandClass(brand)">
   {{brand.brandName}} </li>
</ul> -->


