<button type="button" class="btn btn-success me-3" data-bs-toggle="modal" data-bs-target="#creditcard">
 Ödeme Yap 
</button>
<!-- Modal -->
<div class="modal fade" id="creditcard" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="creditcard"> İşlem Özeti</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col-md-9" >
          <div class="col">
            <div class="row">
              <label for="customerName">Kart Üzerindeki İsim: </label>
              <input [(ngModel)] = "customerName" class="form-control" type="text" value="" id="customerName" />
            </div>
            <div class="row">
              <label for="dailyPrice">Fiyat: </label>
              <input [(ngModel)] = "price" class="form-control" type="number" value="" id="dailyPrice"/>
            </div>
             <div class="row">
              <label for="creditCardNumber">Kredi Kart Numarası: </label>
              <input [(ngModel)] = "creditCardNumber" class="form-control" type="text" value="" id="creditCardNumber"/>
            </div>
            <div class="row">
              <label for="securityCode">Güvenlik Kodu: </label>
              <input [(ngModel)] = "securityCode" class="form-control" type="text"value="" id="securityCode"/>
            </div>
            <div class="row">
              <label for="expirationDate">Son Kullanma Tarihi: </label>
              <input [(ngModel)] = "expirationDate" class="form-control" type="text"value="" id="expirationDate" placeholder="12/2021"/>
            </div>
            <div class="row">
                <label for="creditCardPassword">Şifre: </label>
                <input [(ngModel)] = "creditCardPassword" class="form-control"  type="password"value="" id="creditCardPassword"/>
              </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">İptal</button>
        <button type="button" class="btn btn-warning" name="isCheck" ngDefaultControl (click)=" addPayment()"> Ödeme Yap</button>
      </div>
    </div>
  </div>
</div> 



      <!-- <div class="col-50">
  <label for="fname"><h4>Kart Bilgileri</h4></label>
  <div class="icon-container">
    <i class="fab fa-cc-visa" style="color:navy;"></i>
    <i class="fa fa-cc-amex" style="color:blue;"></i>
    <i class="fa fa-cc-mastercard" style="color:red;"></i>
    <i class="fa fa-cc-discover" style="color:orange;"></i>
  </div> -->


