<div *ngIf="dataLoaded == false" 
class="spinner-border text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div *ngIf="dataLoaded == true" class="rental">
    Aracı Kirala
</div>
<br>

<table *ngIf="dataLoaded==true"  class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Marka</th>
            <th>Müşteri Adı</th>
            <th>Günlük Kiralama Fiyatı</th>
            <th>Kiralama Tarihi</th>
            <th>Teslim Tarihi</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let rental of rentals"> 
        <td>{{rental.id}}</td>
        <td>{{rental.brandName}}</td>
        <td>{{rental.customerName}}</td>
        <td>{{rental.dailyPrice | currency:"TRY":"symbol-narrow":"1.2-2"}}</td>
        <td>{{rental.rentDate | date: 'medium'}}</td>
        <td>{{rental.returnDate | date: 'medium'}}</td>
    </tr>
</tbody>
</table>

