<!-- <div class="card" style="width: 100%;" *ngIf="isLoaded">
    <app-car-detail class="card-img-top"></app-car-detail>
    <div class="card-body">
      <h5 class="card-title">{{car.brandName}}</h5>
      <p class="card-text"><b>Açıklama: </b>{{car.description}}</p>
      <p class="card-text"><b>Renk: </b>{{car.color}}</p>
      <p class="card-text"><b>Günlük fiyatı: </b>{{car.dailyPrice}} TL</p>
      <div>
        <b>Kiralama Tarihi: </b>
        <input type="date" class="form-control" id="rentDate" [(ngModel)]="rentDate">
        <b>Teslim Tarihi: </b>
        <input type="date" class="form-control" id="returnDate" [(ngModel)]="returnDate">
      </div>
     <button class="btn btn-primary" (click)="createRental()">Kirala</button> 
    </div>
  </div> -->
